<template>
  <div class="table-view-container">
    <div class="header">
      <p class="header-title">Boards</p>
      <n-select
          v-if="selectedBoard !== null"
          id="sprint-selector"
          v-model:value="selectedSprint"
          :options="sprints"
      ></n-select>
      <n-select
          id="board-selector"
          v-model:value="selectedBoard"
          :options="boards"
      ></n-select>
    </div>
    <div style="padding-top: var(--header-height); flex: 1 0;">
      <BoardDetail class="table-detail"/>
    </div>
  </div>
</template>

<script setup lang="ts">
import {NSelect} from "naive-ui";
import BoardDetail from "./BoardDetail.vue";
import {ref} from "vue";

const selectedSprint = ref("sprint31")
const sprints = [
  {
    label: "Sprint 30",
    value: "sprint30,"
  },
  {
    label: "Sprint 31",
    value: "sprint31,"
  },
  {
    label: "Sprint 32",
    value: "sprint30,"
  },
]

const selectedBoard = ref("np")
const boards = [
  {
    label: "National Projects",
    value: 'np',
  },
  {
    label: 'Sparta',
    value: 'sp'
  },
]

</script>

<style scoped>
.header {
  position: fixed;
  width: calc(100% - 68px);
  height: var(--header-height);
  background: var(--header-background);
  border-bottom: 1px solid var(--divider-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
  justify-content: space-between;
}

.header-title {
  font-size: var(--header-fontsize);
  font-weight: 500;
  flex: 1 0;
}

#sprint-selector {
  margin-left: 10px;
  max-width: 150px;
}

#board-selector {
  margin-left: 10px;
  max-width: 300px;
}

.table-detail {
  flex: 1 0;
}

.table-view-container {
  width: 100%;
  height: calc(100 * var(--vh));
  display: flex;
  flex-direction: column;
}
</style>