<template>
  <div class="card nonselectable">
    <div class="card-header">
      <img style="margin-right: 8px" class="assignee-avatar"
           src="https://ui-avatars.com/api/?background=0D8ABC&color=fff&name=Maxim+Stepanov" alt="avatar">
      <span class="task-id">{{ props.card.id }}</span>
      <img style="flex: 1 1;" height="24" src="/menu_3dots.svg" @click.stop="collapsed = !collapsed">
    </div>
    <div class="board-card-menu-context-container" :style="{
      'max-height': collapsed ? '0' : `${$refs.menu.clientHeight}px`
    }">
      <div ref="menu" class="board-card-context-menu">
        <h4 style="text-align: center">Actions</h4>
        <span class="board-card-menu-action">Move to previous sprint</span>
        <span class="board-card-menu-action">Move to next sprint</span>
      </div>
    </div>
    <div class="card-content">
      <p class="card-title">{{ props.card.title }}</p>
      <div class="deadline">
        <span>Deadline: 30 Jul</span>
      </div>
      <div class="assignee">
        <span>QA:</span>
        <img style="margin: 0 8px" class="qa-avatar"
             src="https://ui-avatars.com/api/?background=0D8ABC&color=fff&name=Maxim+Stepanov" alt="avatar">
        <span>Maxim Stepanov</span>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">

import {ref} from "vue";

const props = defineProps<{
  card: {
    id: string,
    title: string,
  }
}>()

const collapsed = ref(true)

</script>

<style scoped>
.card {
  /*padding: 4px 8px;*/
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid var(--divider-color);
  border-radius: 6px;
  margin: 3px 0;
  overflow: hidden;
}

h4 {
  margin: 0;
}

.card-title {
  margin: 4px 0 4px 0;
  font-weight: bold;
}

.assignee-avatar {
  width: 22px;
  height: 22px;
  border-radius: 20%;
}

.assignee {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2px 0;
}

.qa-avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.task-id {
  width: 100%;
  color: #b7b7b7;
}

.card-header {
  display: flex;
  flex-direction: row;
  /*border-bottom: 1px solid var(--divider-color);*/
  background: rgba(255, 255, 255, 0.1);
  padding: 1px 4px 1px 1px;
}

.card-content {
  padding: 4px 8px;
}

.board-card-context-menu {
  background: rgba(0, 0, 0, 0.2);
  padding: 4px 0;
  border-bottom: 1px solid var(--divider-color);
  display: flex;
  flex-direction: column;
}

.board-card-menu-action {
  padding: 2px 8px;
  background: rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid var(--divider-color);
}

.board-card-menu-action:first-child {
  border-top: 1px solid var(--divider-color);
}

.board-card-menu-context-container {
  overflow: hidden;
  transition: max-height .2s ease-out;
}
</style>