<template>
  <div class="container">
    <div class="column-container">
      <div class="column" :style="{'background-color': column.color}" v-for="column in columns">
        <div class="column-header" :style="{'background-color': column.color}">
          <span style="flex: 1 1">{{ countCardsCount(column) }}</span>
          <span style="flex: 10 0">{{ column.name }}</span>
          <img style="flex: 1 1;" height="24" src="/menu_3dots.svg">
        </div>
        <CardGroup name="No epic" :task-count="column.cards.length" v-if="column.cards.length > 0">
          <BoardCard :card="card" v-for="card in column.cards"></BoardCard>
        </CardGroup>
        <CardGroup :name="group.name" :task-count="group.cards.length" v-for="group in column.epics">
          <BoardCard :card="card" v-for="card in group.cards"></BoardCard>
        </CardGroup>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">

import BoardCard from "./BoardCard.vue";
import CardGroup from "./CardGroup.vue";

const columns = [
  {
    name: 'Todo',
    color: 'rgba(255,44,44,0.1)',
    cards: [
      {
        id: 'NP-153',
        title: 'Add backend for the board',
      },
      {
        id: 'NP-154',
        title: 'Connect backend for the board to the frontend',
      },
      {
        id: 'NP-156',
        title: 'Test the board',
      },
      {
        id: 'NP-165',
        title: 'Test the board',
      },
      {
        id: 'NP-166',
        title: 'Test the board',
      },
      {
        id: 'NP-167',
        title: 'Test the board',
      },
      {
        id: 'NP-168',
        title: 'Test the board',
      },
      {
        id: 'NP-169',
        title: 'Test the board',
      },
      {
        id: 'NP-170',
        title: 'Test the board',
      },
      {
        id: 'NP-171',
        title: 'Test the board',
      },
    ],
  },
  {
    name: 'In progress',
    color: 'rgba(94,206,255,0.1)',
    cards: [
      {
        id: 'NP-160',
        title: 'Release 28.07.22',
      }
    ],
    epics: [
      {
        name: 'Risks',
        cards: [
          {
            id: 'NP-155',
            title: 'Add endpoint for import',
          },
          {
            id: 'NP-158',
            title: 'Add form for import',
          },
          {
            id: 'NP-159',
            title: 'Test form for import',
          },
        ]
      }
    ]
  },
  {
    name: 'Code Review',
    color: 'rgba(239,94,255,0.1)',
    cards: [],
    epics: [
      {
        name: 'Risks',
        cards: [
          {
            id: 'NP-161',
            title: 'Add contractor endpoint',
          },
          {
            id: 'NP-162',
            title: 'Add contract endpoint',
          },
        ]
      }
    ]
  },
  {
    name: 'QA',
    color: 'rgba(255,166,94,0.1)',
    cards: [],
    epics: [
      {
        name: "Risks",
        cards: [{
          id: 'NP-163',
          title: 'Add risks subsystem',
        }],
      },
      {
        name: "NPA",
        cards: [{
          id: 'NP-165',
          title: 'Block FOIV in the NPA form',
        }],
      },
    ]
  },
  {
    name: 'Done',
    color: 'rgba(99,255,99,0.1)',
    cards: [
      {
        id: 'NP-164',
        title: 'Release 20.07.22'
      }
    ],
  },
]

function countCardsCount(column) {
  return column.cards.length + (column.epics ?
      column.epics?.map(c => c.cards.length).reduce((c1, c2) => c1 + c2)
      : 0)
}

</script>

<style scoped>
.column-header {
  padding: 2px 8px;
  text-align: center;
  font-weight: bold;
  margin: 0 0 3px 0;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.column-container {
  flex: 1 0;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}

.column {
  /*border-right: 1px solid var(--divider-color);*/
  flex: 1 0;
  min-width: 240px;
  display: flex;
  flex-direction: column;
  padding: 6px;
}

.column:last-child {
  border-right: none;
}

.container {
  overflow: scroll;
  width: 100%;
  height: 100%;
}
</style>