<template>
  <div class="card-group" ref="group" v-bind:style="groupStyle">
    <div class="card-group-header" @click="toggle()">
      <svg height="24"
           style="transition: transform .2s ease-out;"
           :style="{'transform': collapsed ? 'rotate(-90deg)' : ''}"
           xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
           viewBox="0 0 24 24">
        <path d="M16.59 8.59L12 13.17L7.41 8.59L6 10l6 6l6-6l-1.41-1.41z" fill="currentColor"></path>
      </svg>
      <h4 style="flex: 1 0;" class="nonselectable">{{ props.name }}</h4>
      <span style="text-align: end; margin: 0 8px">{{ props.taskCount }}</span>
    </div>
    <div ref="content" class="card-group-content" :style="{'opacity': collapsed ? '0' : '1'}">
      <slot/>
    </div>
  </div>
</template>

<script setup lang="ts">
import {ref} from "vue";

const props = defineProps<{
  name: string,
  taskCount: number,
}>()

// Element references used to compute max-height
const group = ref()
const content = ref()

// Separate object for style of group container, for easy update from the code
const groupStyle = ref({
  maxHeight: '',
})

// If the group is currently collapsed
const collapsed = ref(false)

function toggle() {
  if (collapsed.value) {
    const totalHeight = content.value.clientHeight + 33
    console.log(content.value.clientHeight, group.value.clientHeight, totalHeight)
    groupStyle.value["max-height"] = `${totalHeight}px`
    collapsed.value = false
    // After the transition is completed, reset max-height so when children update, the height is not limited.
    setTimeout(() => {
      groupStyle.value['max-height'] = undefined
    }, 250)
  } else {
    // Dirty hakz to force browser to transition the height from the current state (when no max-height is set yet)
    groupStyle.value['max-height'] = `${content.value.clientHeight + 33}px`
    setTimeout(() => {
      groupStyle.value["max-height"] = "33px"
      collapsed.value = true
    }, 10)
  }
}
</script>

<style scoped>

h4 {
  margin: 2px 0;
}

.card-group-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3px 2px 5px 2px;
}

.card-group {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  margin: 3px -3px 0 -3px;
  padding: 0 3px 0 3px;
  transition: max-height .25s ease-out;
  overflow: hidden;
}

.card-group-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: opacity .25s ease-out;
}
</style>