body {
    color: #e8e8e8;
    font-family: Roboto;
    --divider-color: rgba(255, 255, 255, 0.09);
    --header-height: 54px;
    --header-fontsize: 20px;
    --header-iconsize: 42px;
    /*--sidebar-background: #0d0d0d;*/
    --sidebar-background: #282828;
    /*--header-background: #0d0d0d*/
    --header-background: #282828
}

.nonselectable {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}