<template>
  <div v-if="group" class="container">
    <div class="topBar">
      <n-button quaternary @click="emits('deselect-group')">
        <template #icon>
          <n-icon>
            <back-icon/>
          </n-icon>
        </template>
      </n-button>
      <n-input
          type="text"
          style="font-size: 18px; margin: 0;"
          v-model:value="group.name"
          @keyup="(ev) => onGroupNameKeyUp(ev)"
          @focusout="(ev) => onGroupNameFocusLost()"
      />
      <n-button quaternary @click="deleteGroup">
        <template #icon>
          <n-icon>
            <delete-icon/>
          </n-icon>
        </template>
      </n-button>
    </div>

    <div class="content">
      <TodoListComponent v-for="list in lists" :list="list"/>

      <n-input
          placeholder="New List"
          round
          @keyup="onListKeyUp"
          v-model:value="newListName"
          clearable
          style="background: transparent"
      >
        <template #prefix>
          <n-icon :component="AddIcon"/>
        </template>
      </n-input>
    </div>
  </div>
</template>

<script setup lang="ts">

import {onMounted, onUnmounted, ref, watch} from "vue";
import {todoApi, todoSubjects} from "../../api/todo/Api";
import {TodoEntry, TodoGroup, TodoList} from "../../api/todo/Models";
import {NButton, NIcon, NInput, useLoadingBar} from "naive-ui"
import {Add as AddIcon, ArrowBack as BackIcon, Trash as DeleteIcon} from '@vicons/ionicons5'
import TodoListComponent from "./TodoListComponent.vue";
import {Subscription} from "rxjs";

let group_update_subscription: Subscription | null = null
let list_update_subscription: Subscription | null = null
let list_create_subscription: Subscription | null = null
let list_delete_subscription: Subscription | null = null

const loadingBar = useLoadingBar()

const emits = defineEmits<{
  (e: 'deselect-group'): void
}>()
const props = defineProps<{
  group_id: number
}>()

const newListName = ref("")
const newEntryNames = ref<Map<number, Array<TodoEntry>>>(new Map())

const group = ref<TodoGroup | null>(null)
const lists = ref<TodoList[]>([])

function onListKeyUp(ev: KeyboardEvent) {
  if (ev.code === 'Enter') {
    const newName = newListName.value
    newListName.value = ""
    createList(newName)
  }
}

function onGroupNameKeyUp(ev: KeyboardEvent) {
  if (ev.code === 'Enter') {
    todoApi.patchGroup(group.value)
  }
}

function onGroupNameFocusLost() {
  todoApi.patchGroup(group.value)
}

async function createList(name: string) {
  const newList = await todoApi.createList(new TodoList({
    name: name,
    group: group.value!!.id,
  }))
  const idx = lists.value.findIndex(value => value.id === newList.id)
  if (idx === -1)
    lists.value.push(newList)
}

async function deleteGroup() {
  emits('deselect-group')
  await todoApi.deleteGroup(group.value)
}

async function updateGroup(group_id: number) {
  loadingBar.start()

  // Reset state to empty state
  lists.value = []

  // -1 means none is selected
  if (group_id === -1)
    return

  // Load group
  group.value = await todoApi
      .getGroup(group_id)
      .catch(() => {
        emits('deselect-group')
        return null
      })

  // Load lists
  lists.value = await todoApi.listListsForGroup(group_id)

  loadingBar.finish()

  group_update_subscription = todoSubjects.groupUpdated.subscribe(value => {
    if (value.id === group_id) {
      group.value = value
    }
  })
}

watch(
    () => props.group_id,
    value => {
      updateGroup(value)
    }
)

onMounted(() => {
  updateGroup(props.group_id)

  list_update_subscription = todoSubjects.listUpdated.subscribe(list => {
    const idx = lists.value.findIndex(value => value.id === list.id)
    if (idx > -1)
      lists.value[idx] = list
  })
  list_create_subscription = todoSubjects.listCreated.subscribe(list => {
    const idx = lists.value.findIndex(value => value.id === list.id)
    if (idx === -1)
      lists.value.push(list)
  })
  list_delete_subscription = todoSubjects.listDeleted.subscribe(list => {
    const idx = lists.value.findIndex(value => value.id === list.id)
    if (idx > -1)
      lists.value.splice(idx, 1)
  })
})
onUnmounted(() => {
  list_update_subscription?.unsubscribe()
  list_create_subscription?.unsubscribe()
  list_delete_subscription?.unsubscribe()
})
</script>

<style scoped>
.topBar {
  background: rgba(128, 128, 128, 0.15);
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
  display: flex;
  align-items: center;
  padding: 10px 0 6px 0;
}

.container {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.content {
  padding: 12px;
}

@media screen and (min-width: 650px) {
  .content {
    padding: 24px;
  }
}
</style>