<template>
  <n-space vertical>
    <div style="display: flex; flex-direction: row; margin-left: -14px">
      <n-input
          type="text"
          style="font-size: 24px;"
          v-model:value="props.list.name"
          @keyup="(ev) => onListNameKeyUp(ev)"
          @focusout="(ev) => onListNameFocusLost()"
      />
      <n-button quaternary @click="deleteList">
        <template #icon>
          <n-icon color="rgba(165,165,165,1)">
            <delete-icon/>
          </n-icon>
        </template>
      </n-button>
    </div>
    <div style="display: flex; flex-direction: column">
      <div style="display: flex;" v-for="entry in entries">
        <n-checkbox
            v-model:checked="entry.is_done"
            @change="(newValue) => checkboxChanged(entry)"
            style="margin-top: 3px"
            :key="entry.id"
        />
        <n-input
            type="textarea"
            autosize
            size="small"
            placeholder="Empty entry"
            v-model:value="entry.name"
            @keyup="(ev) => onEntryKeyUp(entry, ev)"
            @focusout="(ev) => onEntryFocusLost(entry)"
        />
        <n-button quaternary @click="deleteEntry(entry)">
          <template #icon>
            <n-icon color="rgba(160,160,160,0.6)" size="16px">
              <delete-icon/>
            </n-icon>
          </template>
        </n-button>
      </div>
      <n-input
          placeholder="New Entry"
          @keyup="onNewEntryKeyUp"
          size="small"
          v-model:value="newEntryName"
          style="margin-left: 16px;"
      >
      </n-input>
    </div>
    <n-hr/>
  </n-space>
</template>

<script setup lang="ts">

import {onMounted, onUnmounted, ref, watch} from "vue";
import {TodoEntry, TodoList} from "../../api/todo/Models";
import {todoApi, todoSubjects} from "../../api/todo/Api";
import {NHr, NSpace, NCheckbox, NInput, NIcon, NButton} from "naive-ui";
import {Subscription} from "rxjs";
import {Trash as DeleteIcon} from '@vicons/ionicons5'

const newEntryName = ref("")
const entries = ref<Array<TodoEntry>>([])

let entry_update_subscription: Subscription | null = null
let entry_create_subscription: Subscription | null = null
let entry_delete_subscription: Subscription | null = null

const props = defineProps<{
  list: TodoList
}>()

async function updateEntries(list_id: number) {
  entries.value = []
  entries.value = await todoApi.listEntriesForList(list_id)
}

async function deleteList() {
  await todoApi.deleteList(props.list)
}

async function deleteEntry(entry: TodoEntry) {
  await todoApi.deleteEntry(entry)
}

function onEntryKeyUp(entry: TodoEntry, ev: KeyboardEvent) {
  if (ev.code === 'Enter') {
    todoApi.patchEntry(entry)
  }
}

function onEntryFocusLost(entry: TodoEntry) {
  todoApi.patchEntry(entry)
}


function onListNameKeyUp(ev: KeyboardEvent) {
  if (ev.code === 'Enter') {
    todoApi.patchList(props.list)
  }
}

function onListNameFocusLost() {
  todoApi.patchList(props.list)
}

function onNewEntryKeyUp(ev: KeyboardEvent) {
  if (ev.code === 'Enter') {
    const newName = newEntryName.value
    newEntryName.value = ""
    createEntry(props.list.id, newName)
  }
}

async function checkboxChanged(entry: TodoEntry) {
  await todoApi.patchEntry(entry)
}

async function createEntry(list_id: number, name: string) {
  const newEntry = new TodoEntry({
    list: list_id,
    name: name,
  })

  // Push locally-created entry
  entries.value.push(newEntry)

  // Send entry to backend and update it with actual value as soon as the result is ready
  const backendEntry = await todoApi.createEntry(newEntry)
  const index = entries.value.findIndex(e => e.name === newEntry.name)
  if (index > -1)
    entries.value[index] = backendEntry
}

watch(
    () => props.list,
    (value, oldValue) => {
      if (value.id !== oldValue.id)
        updateEntries(value.id)
    }
)

onMounted(() => {
  updateEntries(props.list.id)

  entry_update_subscription = todoSubjects.entryUpdated.subscribe(entry => {
    if (entry.list === props.list.id) {
      const idx = entries.value.findIndex(value => value.id === entry.id)
      if (idx > -1) {
        entries.value[idx] = entry
      }
    }
  })
  entry_create_subscription = todoSubjects.entryCreated.subscribe(entry => {
    if (entry.list === props.list.id) {
      const idx = entries.value.findIndex(value => value.id === entry.id || value.name === entry.name)
      if (idx === -1) {
        entries.value.push(entry)
      }
    }
  })
  entry_delete_subscription = todoSubjects.entryDeleted.subscribe(entry => {
    if (entry.list === props.list.id) {
      const idx = entries.value.findIndex(value => value.id === entry.id)
      if (idx > -1) {
        entries.value.splice(idx, 1)
      }
    }
  })
})

onUnmounted(() => {
  entry_update_subscription?.unsubscribe()
  entry_create_subscription?.unsubscribe()
  entry_delete_subscription?.unsubscribe()
})


</script>

<style scoped>
.n-checkbox {
  margin-bottom: 0;
}
</style>