<template>
  <div id="desktop-layout">
    <TodoSidebar
        @group-selected="updateGroup"
        style="width: 240px"
    />
    <TodoDetail
        id="todo-detail"
        v-if="selectedGroup !== -1"
        :group_id="selectedGroup"
        @deselect-group="deselectGroup"
        style="flex: 1 0;"
    />
  </div>

  <div id="mobile-layout">
    <TodoSidebar
        v-if="selectedGroup === -1"
        @group-selected="updateGroup"
    />
    <TodoDetail
        v-else
        id="todo-detail"
        :group_id="selectedGroup"
        @deselect-group="deselectGroup"
    />
  </div>
</template>

<script setup lang="ts">
import {NLayout, NLayoutContent, NLayoutSider, NSpace, NThemeEditor, useLoadingBar} from 'naive-ui'
import TodoSidebar from "./TodoSidebar.vue";
import {onMounted, ref, watch} from "vue";
import TodoDetail from "./TodoDetail.vue";
import {useRouter} from "vue-router";

const router = useRouter()

const selectedGroup = ref(-1)

function deselectGroup() {
  selectedGroup.value = -1
  router.push("/todo/")
}

function updateGroup(group_id: number) {
  selectedGroup.value = group_id
  router.push(`/todo/${group_id}/`)
}

onMounted(() => {
  let group_id = router.currentRoute.value.params['group_id']
  if (group_id) {
    // Handle non a number in URL
    let group_id_num: number = +group_id
    if (isNaN(group_id_num))
      deselectGroup()
    else
      updateGroup(+group_id)
  } else
    selectedGroup.value = -1
})
</script>

<style scoped>

#desktop-layout {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 650px) {
  #desktop-layout {
    display: none !important;
  }
}

@media screen and (min-width: 650px) {
  #mobile-layout {
    display: none !important;
  }
}
</style>