<template>
  <div class="sidebar">
    <div class="doit-header" style="cursor: pointer" @click="$router.push('/')">
      <p class="header-title">TODO Lists</p>
    </div>

    <n-menu
        :options="menuOptions"
        @update:value="handleUpdateValue"
    />
    <n-input
        placeholder="New Group"
        round
        @keyup="onKeyUp"
        v-model:value="newGroupName"
        clearable
    >
      <template #prefix>
        <n-icon :component="AddIcon"/>
      </template>
    </n-input>
  </div>
</template>

<script setup lang="ts">
import {MenuOption, NIcon, NMenu, NInput, useMessage} from "naive-ui";
import {onMounted, onUnmounted, ref} from "vue";
import {todoApi, todoSubjects} from "../../api/todo/Api";
import {TodoGroup} from "../../api/todo/Models";
import {Add as AddIcon} from '@vicons/ionicons5'
import {Subscription} from "rxjs";

const newGroupName = ref<string>("")
const menuOptions = ref<MenuOption[]>([])
let groups = Array<TodoGroup>()
let update_subscription: Subscription | null = null
let create_subscription: Subscription | null = null
let delete_subscription: Subscription | null = null

const props = defineProps({})
const emits = defineEmits<{
  (e: 'group-selected', id: number): void
}>()

const message = useMessage()

function handleUpdateValue(key: string) {
  emits("group-selected", parseInt(key))
}

function onKeyUp(ev: KeyboardEvent) {
  if (ev.code === 'Enter' && newGroupName.value.trim() !== '') {
    const newName = newGroupName.value
    newGroupName.value = ""
    createGroup(newName)
  }
}

async function createGroup(value: string) {
  let newGroup = await todoApi.createGroup(new TodoGroup({
    name: value,
  }))
  if (groups.findIndex(value1 => value1.id === newGroup.id) === -1) {
    groups.push(newGroup)
    menuOptions.value.push(createMenuOption(newGroup))
  }
}

function createMenuOption(group: TodoGroup) {
  return {
    label: group.name,
    key: group.id,
  }
}

onMounted(async () => {
  groups = await todoApi.listGroups()
  menuOptions.value = groups.map((g: TodoGroup) => {
    return createMenuOption(g)
  })

  // Subscribe for group events
  update_subscription = todoSubjects.groupUpdated.subscribe((entry: TodoGroup) => {
    const idx = groups.findIndex((value: TodoGroup, index: number, obj: TodoGroup[]) => {
      return value.id === entry.id
    })
    if (idx > -1) {
      groups[idx] = entry
      menuOptions.value = groups.map((g: TodoGroup) => {
        return createMenuOption(g)
      })
    }
  })
  create_subscription = todoSubjects.groupCreated.subscribe(entry => {
    if (groups.findIndex(value1 => value1.id === entry.id) === -1) {
      groups.push(entry)
      menuOptions.value = groups.map((g: TodoGroup) => {
        return createMenuOption(g)
      })
    }
  })
  delete_subscription = todoSubjects.groupDeleted.subscribe(entry => {
    const idx = groups.findIndex((value: TodoGroup, index: number, obj: TodoGroup[]) => {
      return value.id === entry.id
    })
    console.log('current groups', groups)
    console.log('deleting entry', idx, entry)
    if (idx > -1) {
      groups.splice(idx, 1)
      menuOptions.value = groups.map((g: TodoGroup) => {
        return createMenuOption(g)
      })
    }
  })
})

onUnmounted(() => {
  update_subscription?.unsubscribe()
  create_subscription?.unsubscribe()
  delete_subscription?.unsubscribe()
})
</script>

<style scoped>
/*noinspection CssOverwrittenProperties*/
.sidebar {
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--divider-color);
}

.header-title {
  font-size: var(--header-fontsize);
  font-weight: 500;
}

.doit-header {
  height: var(--header-height);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid var(--divider-color);
}

.doit-logo {
  width: var(--header-iconsize);
  height: var(--header-iconsize);
}
</style>