<template>
  <n-layout>
    <Header></Header>

    <n-layout-content class="content">
      <n-button
          v-if="currentUser !== null"
          @click="$router.push({name: 'todo'})"
          secondary bordered type="primary" size="large"
          style="width: 100%"
      >
        Open my TODOs
      </n-button>

      <NH1>doit — the minimalistic approach to manage all your tasks</NH1>

      <n-hr/>

      <n-blockquote class="left-aligned-content huge-margin">
        <n-text>
          <p>tired of heavy task managers that take years to start up?</p>
          <p>want a lightweight way to jog down your thoughts with couple of clicks and start writing in a second?</p>
          <p>you've come to the right place!</p>
        </n-text>
      </n-blockquote>

      <!--      <n-tabs style="margin-top: 48px" animated type="segment">-->
      <!--        <n-tab-pane name="Live preview">-->
      <!--          <n-layout has-sider-->
      <!--                    style="width: 80%; height: 500px; border-radius: 16px; border: 1px solid rgb(40, 40, 40); margin-left: auto;">-->
      <!--            <n-layout-sider>-->
      <!--              <n-menu :options="menuOptions"/>-->
      <!--            </n-layout-sider>-->
      <!--            <n-layout-content>-->
      <!--              <n-blockquote style="margin: 16px">-->
      <!--                <n-text>TODO: Add interactive detail view here</n-text>-->
      <!--              </n-blockquote>-->
      <!--            </n-layout-content>-->
      <!--          </n-layout>-->
      <!--        </n-tab-pane>-->
      <!--        <n-tab-pane name="Tab 2">-->

      <!--        </n-tab-pane>-->

      <!--      </n-tabs>-->

      <NH1>Release 1.0</NH1>

      <p>
        We are happy to announce the 1.0 release of doit app! The release contains the following features:
      </p>
      <n-list>
        <n-li><n-text>First-class support for both mobile and desktop platforms</n-text></n-li>
        <n-li><n-text>Single global workspace for the entire team</n-text></n-li>
        <n-li><n-text>Real-time collaboration between team members</n-text></n-li>
        <n-li><n-text>Ability to create, edit and delete groups, lists and entries</n-text></n-li>
      </n-list>

    </n-layout-content>
  </n-layout>
</template>

<script setup lang="ts">
import {onMounted, ref} from 'vue'
import {
  NLayout,
  NLayoutHeader,
  NLayoutContent,
  NH1,
  NButton,
  NCard,
  NText,
  NBlockquote,
  NHr,
  NLayoutSider,
  NMenu,
  NTabs,
  NTabPane,
  NIcon,
  NList,
  NLi,
} from "naive-ui";
import {useRouter} from "vue-router";
import {Profile} from "../../api/auth/Models";
import {authApi} from "../../api/auth/Api";
import Header from "./Header.vue";

const currentUser = ref<Profile | null>(null)

const router = useRouter()

onMounted(async () => {
  currentUser.value = await authApi.currentProfile()
})

const menuOptions = [
  {
    label: "Home",
    key: 1,
  },
  {
    label: "Hobby",
    key: 2,
  },
  {
    label: "doit TODO",
    key: 3,
  },
]


</script>


<style scoped>
.content {
  margin: auto;
  padding: 48px;
  max-width: 1000px;
}

.left-aligned-content {
  max-width: 700px;
}

.right-aligned-content {
  max-width: 700px;
}

.n-h1 {
  text-align: center;
  font-family: 'Inconsolata', monospace;
}

.huge-margin {
  margin: 48px 0;
}

p {
  font-size: 18px;
  font-family: 'Inconsolata', monospace;
  margin: 12px;
}

.n-text {
  font-size: 18px;
  font-family: 'Inconsolata', monospace;
}

.n-li {
  font-size: 18px;
  font-family: 'Inconsolata', monospace;
}
</style>
