<template>
  <div class="header">
    <img src="/doit_logo.svg" class="header-logo" alt="doit logo" @click="$router.push('/')"/>
    <p class="header-title" @click="$router.push('/')">doit</p>
    <div style="flex-grow: 1;"/>
    <n-button v-if="currentUser === null" @click="router.push({name: 'login'})">Login</n-button>
    <n-text v-if="currentUser !== null" style="padding: 0 12px">
      You are logged in as
      <n-text type="primary">
        {{ currentUser.first_name }}
        {{ currentUser.last_name }}
      </n-text>
    </n-text>
    <n-button v-if="currentUser !== null" @click="$router.push({name: 'settings'})" quaternary>
      <template #icon>
        <n-icon :component="SettingsIcon"/>
      </template>
    </n-button>
    <n-button v-if="currentUser !== null" @click="logout()" text-color="red" quaternary>
      <template #icon>
        <n-icon :component="LogoutIcon"/>
      </template>
    </n-button>

  </div>
</template>

<script setup lang="ts">
import {Profile} from "../../api/auth/Models";
import {useRouter} from "vue-router";
import {onMounted, ref} from "vue";
import {authApi} from "../../api/auth/Api";
import {SettingsSharp as SettingsIcon, LogOut as LogoutIcon} from '@vicons/ionicons5'
import {NLayoutHeader, NButton, NText, NIcon} from "naive-ui";

const currentUser = ref<Profile | null>(null)

const router = useRouter()

onMounted(async () => {
  currentUser.value = await authApi.currentProfile()
})

function logout() {
  authApi.logout()
  location.reload()
}

</script>

<style scoped>

.header {
  height: var(--header-height);
  border-bottom: 1px solid var(--divider-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
}

.header-logo {
  width: var(--header-iconsize);
  height: var(--header-iconsize);
  cursor: pointer;
}

.header-title {
  padding: 0 10px;
  margin: 0;
  font-size: var(--header-fontsize);
  font-weight: 500;
  cursor: pointer;
}
</style>