<template>
  <n-card title="Login">
    <n-form
        ref="modelRef"
        :model="model"
        :rules="rules"
    >
      <n-form-item
          label="Login"
          path="username"
          :feedback="modelErrors?.username"
          :validation-status="modelErrors?.username"
      >
        <n-input
            v-model:value="model.username"
            placeholder="Login"
        />
      </n-form-item>
      <n-form-item
          label="Password"
          path="password"
          :feedback="modelErrors?.password"
          :validation-status="modelErrors?.password"
      >
        <n-input
            v-model:value="model.password"
            placeholder="****"
            type="password"
        />
      </n-form-item>
      <n-button
          type="primary"
          @click="login"
      >
        Log in
      </n-button>
    </n-form>
  </n-card>
</template>

<script lang="ts">
import {defineComponent, ref} from 'vue'
import {FormInst, NButton, NCard, NForm, NFormItem, NH1, NHr, NInput} from 'naive-ui'
import {useRouter} from "vue-router";
import {apiClient, ErrorResponse} from "../../api";
import {authApi} from "../../api/auth/Api";

export default defineComponent({
  name: 'Login',
  components: {
    NCard,
    NHr,
    NH1,
    NButton,
    NForm,
    NFormItem,
    NInput,
  },
  setup() {
    const router = useRouter()

    async function doLogin() {
      const loginResponse = await authApi.login(
          model!!.value!!.username,
          model!!.value!!.password,
      )

      if (loginResponse instanceof ErrorResponse) {
        console.log('login error detected', loginResponse)
        modelErrorsRef.value = {
          username: loginResponse.errors.get('username'),
          password: loginResponse.errors.get('password'),
        }
      } else {
        await router.push(router.currentRoute.value.params.from as string || '/todo/')
      }
    }

    const modelRef = ref<FormInst | null>(null)
    const modelErrorsRef = ref<{
      username: any,
      password: any,
    }>()
    const model = ref({
      username: '',
      password: ''
    })

    const login = async () => {
          console.log('validating')

          console.log(modelRef)

          await modelRef.value?.validate(async (errors) => {
            if (!errors) {
              console.log('doing login')
              await doLogin()
            } else {
              console.log('errors detected', errors)
            }
          })
        }

    return {
      modelRef,
      modelErrors: modelErrorsRef,
      model,
      rules: {
        username: {
          required: true,
          message: 'Please input login',
          trigger: ['input']
        },
        password: {
          required: true,
          message: 'Please input password',
          trigger: ['input']
        }
      },
      login
    }
  }
})
</script>

<style scoped>
.n-card {
  max-width: 400px;
  height: 300px;
  margin: auto;
  margin-top: calc(100vh / 2 - 150px);
}

</style>