<template>
  <n-layout>
    <Header/>
    <n-layout-content class="content">
      <n-h1>Settings</n-h1>
      <n-form v-if="profile !== undefined" ref="formRef" :model="profile" :rules="rules">
        <n-form-item path="first_name" label="First name">
          <n-input v-model:value="profile.first_name" @keydown.enter.prevent/>
        </n-form-item>
        <n-form-item path="last_name" label="Last name">
          <n-input v-model:value="profile.last_name" @keydown.enter.prevent/>
        </n-form-item>
        <n-form-item path="email" label="Email">
          <n-input v-model:value="profile.email" @keydown.enter.prevent/>
        </n-form-item>
        <n-form-item>
          <n-button secondary type="primary" class="save-button" @click="save()">Save</n-button>
        </n-form-item>
      </n-form>
    </n-layout-content>
  </n-layout>
</template>

<script setup lang="ts">
import Header from "./Header.vue";
import {
  NLayout,
  NLayoutContent,
  NH1,
  NHr,
  NForm,
  NFormItem,
  FormRules,
  NInput,
  NButton,
  useLoadingBar,
  useMessage
} from "naive-ui";
import {onMounted, ref} from "vue";
import {Profile} from "../../api/auth/Models";
import {authApi} from "../../api/auth/Api";

const profile = ref<Profile | undefined>(undefined)

const loadingBar = useLoadingBar()
const messages = useMessage()

async function save() {
  profile.value = await authApi.updateCurrentProfile(profile.value)
  messages.success("Profile saved")
}

onMounted(async () => {
  loadingBar.start()
  profile.value = await authApi.currentProfile()
  loadingBar.finish()
})

const rules: FormRules = {
  first_name: [{
    required: true,
    trigger: ['input', 'blur']
  }],
  last_name: [{
    required: true,
    trigger: ['input', 'blur']
  }],
  email: [{
    required: true,
    trigger: ['input', 'blur']
  }],
}

</script>

<style scoped>

.n-input {
  border: 1px solid #303030
}

.content {
  max-width: 400px;
  margin: auto;
}

.n-h1 {
  text-align: center;
  font-family: 'Inconsolata', monospace;
  margin: 12px 0 0;
}

.huge-margin {
  margin: 48px 0;
}

p {
  font-size: 18px;
  font-family: 'Inconsolata', monospace;
  margin: 12px;
}

.save-button {
  margin: auto;
  width: 100px;
}
</style>