<template>
  <n-menu
      :collapsed="true"
      :collapsed-width="48"
      :collapsed-icon-size="22"
      :options="menuOptions"
      style="background: var(--sidebar-background); border-right: 1px solid var(--divider-color)"
  />
</template>

<script lang="ts">

import {MenuOption, NIcon, NImage, NMenu, useMessage} from "naive-ui";
import {RouterLink} from "vue-router";
import {Component, defineComponent, h} from "vue";
import {CardOutline as BoardIcon, ClipboardOutline as TodoIcon, HomeOutline as HomeIcon} from '@vicons/ionicons5'

function renderIcon(icon: Component) {
  return () => h(NIcon, null, {default: () => h(icon)})
}

const menuOptions: MenuOption[] = [
  {
    label: () =>
        h(
            RouterLink,
            {to: {path: '/'}},
            {default: () => 'Do It'}
        ),
    key: 'go-back-home',
    icon: renderIcon(HomeIcon)
  },
  {
    key: 'divider-1',
    type: 'divider',
    props: {
      style: {marginLeft: 0, marginRight: 0}
    }
  },
  {
    label: () =>
        h(
            RouterLink,
            {to: {name: 'todo'}},
            {default: () => 'TODO Lists'}
        ),
    key: 'todos',
    icon: renderIcon(TodoIcon)
  },
  {
    label: () =>
        h(
            RouterLink,
            {to: {name: 'boards'}},
            {default: () => 'Boards'}
        ),
    key: 'boards',
    icon: renderIcon(BoardIcon)
  },
]

export default defineComponent({
  name: "Sidebar",
  props: [
    'collapsed'
  ],
  components: {
    NMenu,
  },
  setup() {
    useMessage()
    return {
      menuOptions,
    }
  }
})
</script>
