<template>
  <div>
    <n-config-provider :theme="darkTheme" :theme-overrides="themeOverrides">
      <n-loading-bar-provider>
        <n-message-provider>
          <div style="display: flex; flex-direction: row;">
            <Sidebar class="app-sidebar"/>
            <div style="width: calc(100vw - 48px); padding-left: 48px;">
              <router-view/>
            </div>
          </div>
        </n-message-provider>
      </n-loading-bar-provider>
    </n-config-provider>
  </div>
</template>

<script setup lang="ts">
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://vuejs.org/api/sfc-script-setup.html#script-setup
import {
  GlobalThemeOverrides,
  NConfigProvider,
  NGlobalStyle,
  NLayout,
  NLayoutContent,
  NLayoutSider,
  NMessageProvider,
  NSpace,
  NLoadingBarProvider,
  darkTheme,
} from 'naive-ui'
import Sidebar from "./components/common/Sidebar.vue";
import {ref} from "vue";

const activeKey = ref(null)

const themeOverrides: GlobalThemeOverrides = {
  common: {
    primaryColor: '#63ABE2FF',
  },
  Input: {
    // borderHover: 'none',
    // clearColorHover: 'rgba(127, 127, 127, 0.1)',
    color: 'none',
    colorFocus: 'rgba(128, 128, 128, 0.2)',
    border: '1px solid transparent',
    borderFocus: '1px solid transparent',
    borderHover: '1px solid rgba(128, 128, 128, 0.4)',
    boxShadowFocus: 'none',
  },
}

</script>

<style>
.app-sidebar {
  position: fixed;
  width: 48px;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}
</style>
